@using PoC.Calendar.WASM.Shared

<div class="row">
    <div class="col-xl-12">
        <RadzenScheduler @ref=@scheduler style="height: 768px;" 
                         TItem="Appointment" 
                         Data=@Appointments 
                         StartProperty="Start" 
                         EndProperty="End"
                         TextProperty="Text" 
                         SelectedIndex="1"                 
                         SlotSelect=@OnSlotSelect 
                         AppointmentSelect=@OnAppointmentSelect 
                         AppointmentRender=@OnAppointmentRender
                         LoadData="@LoadData"
                         >
            <RadzenDayView />
            <RadzenWeekView />
            <RadzenMonthView />
        </RadzenScheduler>
    </div>
    
</div>
